Repository M4G13/mystudentyears: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-app-job, build-strapi

lint-app-job:
  stage: test
  image: node:latest
  cache:
    paths:
    - app/node_modules/
  script:
  - cd app
  - npm install
  - npm run lint

build-strapi:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - cd strapi
  - docker build -t $IMAGE_TAG .
  - docker push $IMAGE_TAG

Initial survey commit
  app/App.js
  app/package-lock.json
  app/package.json
  app/screens/HomeScreen.js
  app/screens/Survey.js
  app/styles/survey.js
  strapi/src/api/survey-datum/content-types/survey-datum/schema.json
  strapi/src/api/survey-datum/controllers/survey-datum.js
  strapi/src/api/survey-datum/routes/survey-datum.js
  strapi/src/api/survey-datum/services/survey-datum.js
  strapi/src/components/confidence/confidence.json
  strapi/types/generated/components.d.ts
  strapi/types/generated/contentTypes.d.ts
Due: lint-app-job, build-strapi

#39 Survey Initial
  app/screens/Survey.js
  app/styles/survey.js
Due: lint-app-job

adds Error.js screen, currently unused. makes 'turn on strapi idiot' a user relevant error message.
  app/App.js
  app/screens/Error.js
Due: lint-app-job

imported style to fix pipeline
  app/App.js
  app/screens/Error.js
Due: lint-app-job

Contextualised survey page and differentiated submissions
  app/screens/Categories.js
  app/screens/Gatehouse.js
  app/screens/HomeScreen.js
  app/screens/Survey.js
  app/styles/survey.js
  strapi/src/api/survey-datum/content-types/survey-datum/schema.json
  strapi/types/generated/contentTypes.d.ts
Due: lint-app-job, build-strapi

added tests (modified re code review)
  app/__mocks__/@react-native-async-storage/async-storage.js
  app/__tests__/screens/HomeScreen.test.js
  app/__tests__/screens/Question.test.js
  app/package-lock.json
  app/package.json
  app/screens/Question.js
Due: lint-app-job

added testing pipeline (modified re code review)
  .gitlab-ci.yml
  README.md
Due: none

testing->devDependencies (code review changes)
  app/package.json
Due: lint-app-job

Closes issue #41. Created both ts&cs and privacy policy pages within the app and in strapi
  app/App.js
  app/screens/HomeScreen.js
  app/screens/Privacy.js
  app/screens/Terms.js
  app/styles/base.js
  app/styles/homescreen.js
  strapi/src/api/privacy-policy/content-types/privacy-policy/schema.json
  strapi/src/api/privacy-policy/controllers/privacy-policy.js
  strapi/src/api/privacy-policy/routes/privacy-policy.js
  strapi/src/api/privacy-policy/services/privacy-policy.js
  strapi/src/api/t-and-c/content-types/t-and-c/schema.json
  strapi/src/api/t-and-c/controllers/t-and-c.js
  strapi/src/api/t-and-c/routes/t-and-c.js
  strapi/src/api/t-and-c/services/t-and-c.js
  strapi/types/generated/contentTypes.d.ts
Due: lint-app-job, build-strapi

add strapi collections for user analytics data
  strapi/config/cron-tasks.js
  strapi/config/server.js
  strapi/src/api/app-user/content-types/app-user/lifecycles.js
  strapi/src/api/app-user/content-types/app-user/schema.json
  strapi/src/api/app-user/controllers/app-user.js
  strapi/src/api/app-user/routes/01-app-user.js
  strapi/src/api/app-user/routes/app-user.js
  strapi/src/api/app-user/services/app-user.js
  strapi/src/api/school/content-types/school/schema.json
  strapi/src/api/school/controllers/school.js
  strapi/src/api/school/routes/school.js
  strapi/src/api/school/services/school.js
  strapi/src/api/survey-question/content-types/survey-question/schema.json
  strapi/src/api/survey-question/controllers/survey-question.js
  strapi/src/api/survey-question/routes/survey-question.js
  strapi/src/api/survey-question/services/survey-question.js
  strapi/src/components/completion/completion.json
  strapi/src/components/survey/survey-completion.json
  strapi/src/components/survey/survey.json
  strapi/types/generated/components.d.ts
  strapi/types/generated/contentTypes.d.ts
Due: build-strapi

run school fetch on strapi start
  strapi/src/index.js
Due: build-strapi

Added test coverage for q types (sans MissingWordsQ), closes #85
  .gitignore
  app/__tests__/data.json
  app/__tests__/screens/MultiChoiceQ.test.js
  app/__tests__/screens/OpenResponseQ.test.js
  app/__tests__/screens/RankOrderQ.test.js
  app/package-lock.json
  app/package.json
Due: lint-app-job

Removed unused vars & consistent styling (Code review fixes for !40)
  app/App.js
  app/screens/Privacy.js
  app/screens/Terms.js
  app/styles/base.js
  app/styles/homescreen.js
Due: lint-app-job

move expo gitignore to app/
  .gitignore
  app/.gitignore
Due: lint-app-job

upgrade strapi
  strapi/.gitignore
  strapi/package-lock.json
  strapi/package.json
  strapi/types/generated/components.d.ts
  strapi/types/generated/contentTypes.d.ts
Due: build-strapi

Moved @testing-library/react-native to dev deps (re code review)
  app/package.json
Due: lint-app-job

Resolve "Improve quiz functionality"
  app/screens/Category.js
  app/screens/Info.js
  strapi/src/components/questions/multi-choice-question.json
  strapi/src/components/questions/open-response-question.json
Due: lint-app-job, build-strapi

Resolve "Static analysis for Strapi"
  .gitlab-ci.yml
  strapi/.eslintrc
  strapi/config/cron-tasks.js
  strapi/package-lock.json
  strapi/package.json
  strapi/src/api/app-user/content-types/app-user/lifecycles.js
  strapi/src/api/app-user/controllers/app-user.js
  strapi/src/api/app-user/routes/01-app-user.js
  strapi/src/api/school/services/school.js
Due: build-strapi

fix package locks
  app/package-lock.json
  strapi/package-lock.json
  strapi/package.json
Due: lint-app-job, build-strapi

Created persistent route permissions (closes #101)
  strapi/src/api/app-user/routes/01-app-user.js
  strapi/src/api/app-user/routes/app-user.js
  strapi/src/api/info/routes/info.js
  strapi/src/api/privacy-policy/routes/privacy-policy.js
  strapi/src/api/quiz/routes/quiz.js
  strapi/src/api/school/routes/school.js
  strapi/src/api/student/routes/student.js
  strapi/src/api/survey-question/routes/survey-question.js
  strapi/src/api/t-and-c/routes/t-and-c.js
Due: build-strapi

Create docker-compose for ci/cd
  strapi/.dockerignore
  strapi/.gitignore
  strapi/Dockerfile
  strapi/docker-compose.yml
  strapi/package-lock.json
  strapi/package.json
Due: build-strapi

Manual population
  app/App.js
  app/common.js
  app/screens/Category.js
  app/screens/Gatehouse.js
  app/screens/Info.js
  app/screens/Question.js
  strapi/package-lock.json
  strapi/package.json
  strapi/src/api/student/controllers/student.js
  strapi/src/api/student/routes/student.js
Due: lint-app-job, build-strapi

fix tests and lint
  app/__tests__/data.json
  app/__tests__/screens/MultiChoiceQ.test.js
  app/__tests__/screens/OpenResponseQ.test.js
  app/__tests__/screens/RankOrderQ.test.js
  app/screens/Info.js
  strapi/src/api/student/controllers/student.js
  strapi/src/api/student/routes/student.js
Due: lint-app-job, build-strapi

remove prints
  app/.gitignore
  app/screens/Info.js
  app/screens/Privacy.js
  app/screens/Terms.js
Due: lint-app-job

Set up deployment pipelines (still some kinks to work out) closes #25
  .gitlab-ci.yml
  strapi/config/admin.js
  strapi/config/server.js
  strapi/docker-compose.yml
Due: build-strapi

minor fix(es) for pipeline
  .gitlab-ci.yml
Due: none

Allow pipelines to trigger manually
  .gitlab-ci.yml
  strapi/docker-compose.yml
Due: build-strapi

update docker commands to prune images
  .gitlab-ci.yml
Due: none

Resolve "Switch from npm to pnpm"
  .gitlab-ci.yml
  app/.npmrc
  app/__tests__/screens/HomeScreen.test.js
  app/package-lock.json
  app/package.json
  app/pnpm-lock.yaml
  strapi/package-lock.json
  strapi/package.json
  strapi/pnpm-lock.yaml
Due: lint-app-job, build-strapi

Fix routing bug (url cannot be passed in docker-compose)
  strapi/Dockerfile
Due: build-strapi

deployed strapi now uses pnpm
  strapi/.npmrc
  strapi/Dockerfile
  strapi/docker-compose.yml
  strapi/package.json
  strapi/pnpm-lock.yaml
Due: build-strapi

fix dockerfile
  strapi/.npmrc
  strapi/Dockerfile
Due: build-strapi

add deploy environment
  .gitlab-ci.yml
  strapi/docker-compose.yml
Due: build-strapi

fix env vars?
  .gitlab-ci.yml
Due: none

detach from container
  .gitlab-ci.yml
Due: none

lint as code coverage
  .gitlab-ci.yml
  app/package.json
  app/pnpm-lock.yaml
  strapi/package.json
  strapi/pnpm-lock.yaml
Due: lint-app-job, build-strapi

test coverage artifacts
  .gitlab-ci.yml
  app/package.json
  app/pnpm-lock.yaml
Due: lint-app-job

small fix
  .gitlab-ci.yml
Due: none

code coverage
  .gitlab-ci.yml
  app/package.json
Due: lint-app-job

add prometheus metrics
  strapi/config/plugins.js
  strapi/package.json
  strapi/pnpm-lock.yaml
Due: build-strapi

Path conditions:
  lint-app-job: any of: app/**/*
  build-strapi: any of: strapi/**/*
