Repository M4G13/mystudentyears: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-app-job, lint-strapi-job, unit-test-job

.gitlab-ci.yml:

variables:
  IMAGE_TAG: $IMAGE_NAME:latest

image: node:20

before_script:
  - corepack enable

stages:
  - static_analysis
  - unit_test
  - build
  - deploy

lint-app-job:
  stage: static_analysis
  image: node:latest
  rules:
    - changes:
      - app/**/*
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"' # Run on all merges (merges break if no pipeline runs, weird gitlab issue)
  script:
    - cd app
    - pnpm install
    - pnpm run lint --format gitlab
  artifacts:
    reports:
      codequality: gl-codequality.json

lint-strapi-job:
  stage: static_analysis
  rules:
    - changes:
      - strapi/**/*
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"' # Run on all merges (merges break if no pipeline runs, weird gitlab issue)
  script:
    - cd strapi
    - pnpm install
    - pnpm run lint --format gitlab
  artifacts:
    reports:
      codequality: gl-codequality.json

unit-test-job:
  stage: unit_test
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  rules:
    - changes:
      - app/**/*
  script:
    - cd app
    - pnpm install
    - pnpm run test --ci --reporters=default --reporters=jest-junit
  artifacts:
    reports:
      junit: app/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: app/coverage/cobertura-coverage.xml

build-strapi:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == "prod"
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY_SERVER
  script:
    - cd strapi
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG

deploy-strapi:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "prod"
  image: alpine:latest
  before_script:
    - chmod og= $ID_RSA
    - apk update && apk add openssh-client
  script:
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "mkdir -p strapi/public/uploads || true"
    - scp -i $ID_RSA -o StrictHostKeyChecking=no ./strapi/docker-compose.yml $SERVER_USER@$SERVER_IP:~/strapi
    - scp -i $ID_RSA -o StrictHostKeyChecking=no $ENV_VARS $SERVER_USER@$SERVER_IP:~/strapi/.env.prod
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY_SERVER"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker pull $IMAGE_TAG"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd strapi && docker-compose pull && docker-compose up --detach --force-recreate && docker image prune -f"
  environment:
    name: production
    url: https://mystudentyears.co.uk/strapi/
    on_stop: stop-strapi

stop-strapi:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "prod"
  environment:
    name: production
    action: stop
  when: manual
  script:
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd strapi && docker-compose down && docker image prune -f"

Improve Campus visuals
  app/assets/banner.png
  app/assets/category_complete.png
  app/assets/congratsFlag.png
  app/assets/star_empty.png
  app/assets/star_filled.png
  app/screens/Campus.js
  app/screens/HomeScreen.js
  app/styles/base.js
  app/styles/campus.js
  app/styles/homescreen.js
Due: lint-app-job, unit-test-job

some fixes
  strapi/jsconfig.json
  strapi/src/admin/extensions/AnalyticsPage/SchoolMap.jsx
  strapi/src/admin/extensions/AnalyticsPage/index.jsx
Due: lint-strapi-job

Make return to gatehouse button functional
  app/screens/Campus.js
Due: lint-app-job, unit-test-job

switch to pressable (re !137 code review)
  app/screens/Campus.js
Due: lint-app-job, unit-test-job

lint for !137
  app/screens/Campus.js
Due: lint-app-job, unit-test-job

Fix navigation flow and make uuid state
  app/App.js
  app/Context.js
  app/screens/Gatehouse.js
  app/screens/Question.js
  app/screens/Survey.js
Due: lint-app-job, unit-test-job

Improved info visuals
  app/App.js
  app/assets/Chalkboard.png
  app/assets/fonts/Chalkduster.ttf
  app/assets/fonts/PlaypenSans.ttf
  app/assets/rule.png
  app/screens/Info.js
  app/styles/campus.js
  app/styles/info.js
Due: lint-app-job, unit-test-job

remove console.log (re code review !67)
  app/screens/Info.js
Due: lint-app-job, unit-test-job

fix capitalisation (macos moment)
  app/screens/Info.js
Due: lint-app-job, unit-test-job

simplify uuid and selected student works now
  app/.editorconfig
  app/App.js
  app/Context.js
  app/screens/Gatehouse.js
  app/screens/HomeScreen.js
  app/screens/Question.js
  app/screens/Survey.js
  app/styles/info.js
Due: lint-app-job, unit-test-job

lint
  app/App.js
  app/screens/Gatehouse.js
  app/screens/HomeScreen.js
  app/screens/Survey.js
Due: lint-app-job, unit-test-job

Initial styling commit
  app/screens/Question.js
  app/screens/Survey.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/base.js
  app/styles/missingwordsq.js
  app/styles/multichoiceq.js
  app/styles/openresponseq.js
  app/styles/question.js
  app/styles/rankorderq.js
Due: lint-app-job, unit-test-job

Further cleanup and linting
  app/screens/Question.js
  app/screens/Survey.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/base.js
  app/styles/missingwordsq.js
  app/styles/multichoiceq.js
  app/styles/openresponseq.js
  app/styles/question.js
  app/styles/rankorderq.js
  strapi/src/components/questions/missing-words-question.json
  strapi/src/components/questions/rank-order-question.json
Due: lint-app-job, lint-strapi-job, unit-test-job

Further fixes and styling
  app/assets/Academics.jpg
  app/assets/Finance.jpg
  app/assets/Independence.jpg
  app/assets/Wellbeing.jpg
  app/screens/Category.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/base.js
  app/styles/homescreen.js
  app/styles/missingwordsq.js
  app/styles/multichoiceq.js
  app/styles/openresponseq.js
  app/styles/question.js
  app/styles/rankorderq.js
Due: lint-app-job, unit-test-job

addded components
  app/components/SafeButton.js
  app/components/SubmitButton.js
Due: lint-app-job, unit-test-job

added package.json
  app/package-lock.json
  app/package.json
  app/pnpm-lock.yaml
Due: lint-app-job, unit-test-job

works with set options
  strapi/src/admin/extensions/AnalyticsPage/BarChart.jsx
  strapi/src/admin/extensions/AnalyticsPage/index.jsx
  strapi/src/api/school/content-types/school/schema.json
  strapi/src/api/school/services/school.js
  strapi/src/api/stats/controllers/stats.js
  strapi/src/api/survey-option/content-types/survey-option/schema.json
  strapi/src/api/survey-option/controllers/survey-option.js
  strapi/src/api/survey-option/routes/survey-option.js
  strapi/src/api/survey-option/services/survey-option.js
  strapi/src/api/survey-question/content-types/survey-question/schema.json
  strapi/src/components/survey/survey-completion.json
Due: lint-strapi-job

Fixed bug where app would crash if UUID was set but initialStudent wasn't
  app/App.js
Due: lint-app-job, unit-test-job

dynamic images, move away from awesomebutton D:
  app/components/PrettyButton.js
  app/components/SafeButton.js
  app/components/SubmitButton.js
  app/screens/Category.js
  app/screens/HomeScreen.js
  app/screens/Question.js
  app/screens/Survey.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/missingwordsq.js
  app/styles/quizendscreen.js
  strapi/src/api/category-image/content-types/category-image/schema.json
  strapi/src/api/category-image/controllers/category-image.js
  strapi/src/api/category-image/routes/category-image.js
  strapi/src/api/category-image/services/category-image.js
  strapi/src/api/homepage-image/content-types/homepage-image/schema.json
  strapi/src/api/homepage-image/controllers/homepage-image.js
  strapi/src/api/homepage-image/routes/homepage-image.js
  strapi/src/api/homepage-image/services/homepage-image.js
  strapi/src/components/pair/pair.json
Due: lint-app-job, lint-strapi-job, unit-test-job

fix options
  app/App.js
  app/screens/Survey.js
  strapi/src/admin/extensions/AnalyticsPage/BarChart.jsx
  strapi/src/admin/extensions/AnalyticsPage/index.jsx
Due: lint-app-job, lint-strapi-job, unit-test-job

make app work with eas
  app/App.js
  app/app.json
  app/assets/msy-logo.png
  app/eas.json
  app/package.json
  app/pnpm-lock.yaml
  app/screens/questionTypes/RankOrderQ.js
Due: lint-app-job, unit-test-job

simple build config
  app/app.json
  app/assets/adaptive-icon.png
  app/assets/ios-icon.png
  app/eas.json
  app/package.json
  app/pnpm-lock.yaml
  app/styles/base.js
Due: lint-app-job, unit-test-job

auto-increment build-number
  app/eas.json
Due: lint-app-job, unit-test-job

Added order field to student stories
  strapi/src/api/student/content-types/student/schema.json
  strapi/src/api/student/controllers/student.js
Due: lint-strapi-job

funnel for student stories
  strapi/src/admin/extensions/AnalyticsPage/BarChart.jsx
  strapi/src/admin/extensions/AnalyticsPage/SchoolMap.jsx
  strapi/src/admin/extensions/AnalyticsPage/StudentFunnel.jsx
  strapi/src/admin/extensions/AnalyticsPage/index.jsx
  strapi/src/api/stats/controllers/stats.js
  strapi/src/api/stats/routes/stats.js
  strapi/src/api/survey-option/content-types/survey-option/schema.json
Due: lint-strapi-job

fix deps
  strapi/package.json
  strapi/pnpm-lock.yaml
Due: lint-strapi-job

Small styling changes to quiz-end-screen
  app/assets/examResult.png
  app/assets/gradeCircle.png
  app/screens/QuizEndScreen.js
  app/styles/quizendscreen.js
Due: lint-app-job, unit-test-job

Added animation + linted QuizEndScreen
  app/screens/QuizEndScreen.js
  app/styles/quizendscreen.js
Due: lint-app-job, unit-test-job

removed unused images from assets
  app/assets/A.png
  app/assets/B.png
  app/assets/C.png
Due: lint-app-job, unit-test-job

Update README.md
  README.md
Due: none

Removed use of stars in campus
  app/assets/star_empty.png
  app/assets/star_filled.png
  app/components/Grade.js
  app/screens/Campus.js
  app/screens/QuizEndScreen.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/campus.js
  app/styles/quizendscreen.js
Due: lint-app-job, unit-test-job

Fix bug gatehouse CurrentStudent bug
  app/screens/Gatehouse.js
Due: lint-app-job, unit-test-job

Restyled gatehouse to show GPA over completed students
  app/components/Grade.js
  app/screens/Campus.js
  app/screens/Gatehouse.js
  app/styles/gatehouse.js
Due: lint-app-job, unit-test-job

Lint for 141
  app/components/Grade.js
  app/screens/Campus.js
  app/screens/Gatehouse.js
  app/screens/QuizEndScreen.js
  app/screens/Survey.js
  app/styles/campus.js
Due: lint-app-job, unit-test-job

Commented react-native-draggable-flatlist re code review for 141
  app/screens/questionTypes/RankOrderQ.js
Due: lint-app-job, unit-test-job

Resolve pipeline failure (due to disabling rankorderq)
  app/screens/questionTypes/RankOrderQ.js
Due: lint-app-job, unit-test-job

Added download button for CSV user data
  strapi/package.json
  strapi/pnpm-lock.yaml
  strapi/src/admin/extensions/AnalyticsPage/StudentFunnel.jsx
  strapi/src/admin/extensions/AnalyticsPage/index.jsx
  strapi/src/api/stats/controllers/stats.js
  strapi/src/api/stats/routes/stats.js
Due: lint-strapi-job

stops quiz score being reset when starting a new quiz and now only changes quiz score if the most recent attempt is the highest score
  app/screens/Category.js
  app/screens/Info.js
  app/screens/Question.js
Due: lint-app-job, unit-test-job

removing commented code because its bad to leave in
  app/screens/Info.js
Due: lint-app-job, unit-test-job

Created controller for quiz vis
  strapi/src/api/stats/controllers/stats.js
Due: lint-strapi-job
