Repository M4G13/mystudentyears: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-app-job, lint-strapi-job, unit-test-job

.gitlab-ci.yml:

variables:
  IMAGE_TAG: $IMAGE_NAME:latest

image: node:20

before_script:
  - corepack enable

stages:
  - static_analysis
  - unit_test
  - build
  - deploy

lint-app-job:
  stage: static_analysis
  image: node:latest
  rules:
    - changes:
      - app/**/*
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"' # Run on all merges (merges break if no pipeline runs, weird gitlab issue)
  script:
    - cd app
    - pnpm install
    - pnpm run lint --format gitlab
  artifacts:
    reports:
      codequality: gl-codequality.json

lint-strapi-job:
  stage: static_analysis
  rules:
    - changes:
      - strapi/**/*
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"' # Run on all merges (merges break if no pipeline runs, weird gitlab issue)
  script:
    - cd strapi
    - pnpm install
    - pnpm run lint --format gitlab
  artifacts:
    reports:
      codequality: gl-codequality.json

unit-test-job:
  stage: unit_test
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  rules:
    - changes:
      - app/**/*
  script:
    - cd app
    - pnpm install
    - pnpm run test --ci --reporters=default --reporters=jest-junit
  artifacts:
    reports:
      junit: app/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: app/coverage/cobertura-coverage.xml

build-strapi:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == "prod"
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY_SERVER
  script:
    - cd strapi
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG

deploy-strapi:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "prod"
  image: alpine:latest
  before_script:
    - chmod og= $ID_RSA
    - apk update && apk add openssh-client
  script:
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "mkdir -p strapi/public/uploads || true"
    - scp -i $ID_RSA -o StrictHostKeyChecking=no ./strapi/docker-compose.yml $SERVER_USER@$SERVER_IP:~/strapi
    - scp -i $ID_RSA -o StrictHostKeyChecking=no $ENV_VARS $SERVER_USER@$SERVER_IP:~/strapi/.env.prod
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY_SERVER"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker pull $IMAGE_TAG"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd strapi && docker-compose pull && docker-compose up --detach --force-recreate && docker image prune -f"
  environment:
    name: production
    url: https://mystudentyears.co.uk/strapi/
    on_stop: stop-strapi

stop-strapi:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "prod"
  environment:
    name: production
    action: stop
  when: manual
  script:
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd strapi && docker-compose down && docker image prune -f"

move to axios and fix loading, refactor survey
  app/App.js
  app/components/Loading.js
  app/components/Survey.js
  app/package.json
  app/pnpm-lock.yaml
  app/screens/FinalSurvey.js
  app/screens/InitialSurvey.js
  app/screens/Privacy.js
  app/screens/Question.js
  app/screens/Survey.js
  app/screens/Terms.js
Due: lint-app-job, unit-test-job

use context to make initialStudent more consistent
  app/App.js
  app/components/Survey.js
  app/context/CurrentStudent.js
  app/screens/Gatehouse.js
  app/screens/InitialSurvey.js
Due: lint-app-job, unit-test-job

Fixed tests
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
Due: lint-app-job, unit-test-job

massive refactor
  app/.eslintrc.js
  app/App.js
  app/Context.js
  app/common.js
  app/components/Survey.js
  app/package.json
  app/pnpm-lock.yaml
  app/screens/Campus.js
  app/screens/Category.js
  app/screens/FinalSurvey.js
  app/screens/Gatehouse.js
  app/screens/Info.js
  app/screens/InitialSurvey.js
  app/screens/Question.js
  app/screens/QuizEndScreen.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/RankOrderQ.js
Due: lint-app-job, unit-test-job

small cleanup
  app/App.js
  app/screens/Category.js
  app/screens/Gatehouse.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/RankOrderQ.js
Due: lint-app-job, unit-test-job

fix question test with refactored quiz code
  app/__tests__/screens/Question.test.js
Due: lint-app-job, unit-test-job

Changed button component to animate
  app/components/PrettyButton.js
  app/screens/Category.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
Due: lint-app-job, unit-test-job

lint for !74
  app/components/PrettyButton.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
Due: lint-app-job, unit-test-job

Standardised styles, fixed warnings
  app/components/PrettyButton.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/base.js
  app/styles/missingwordsq.js
  app/styles/multichoiceq.js
  app/styles/question.js
Due: lint-app-job, unit-test-job

Combine info sections to one strapi object
  UserGuide.md
  app/screens/Info.js
  strapi/src/api/info/content-types/info/schema.json
  strapi/src/api/student/controllers/student.js
  strapi/src/components/category/category.json
  strapi/src/components/information/information.json
  strapi/src/components/questions-helpers/answers.json
  strapi/src/components/questions-helpers/multi-choice-option.json
  strapi/src/components/questions/multi-choice-question.json
  strapi/src/components/questions/rank-order-question.json
  strapi/src/components/survey/option.json
Due: lint-app-job, lint-strapi-job, unit-test-job

change permissions and clean up buttons
  app/components/PrettyButton.js
  app/package-lock.json
  app/package.json
  app/pnpm-lock.yaml
  app/screens/Category.js
  app/screens/Gatehouse.js
  app/screens/HomeScreen.js
  app/screens/Info.js
  app/screens/Survey.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/styles/missingwordsq.js
  strapi/src/api/category-image/content-types/category-image/schema.json
  strapi/src/api/category-image/controllers/category-image.js
  strapi/src/api/category-image/routes/category-image.js
  strapi/src/api/category-image/services/category-image.js
  strapi/src/api/homepage-image/content-types/homepage-image/schema.json
  strapi/src/api/homepage-image/controllers/homepage-image.js
  strapi/src/api/homepage-image/routes/homepage-image.js
  strapi/src/api/homepage-image/services/homepage-image.js
  strapi/src/api/info/content-types/info/schema.json
  strapi/src/api/privacy-policy/content-types/privacy-policy/schema.json
  strapi/src/api/quiz/content-types/quiz/schema.json
  strapi/src/api/student/content-types/student/schema.json
  strapi/src/api/student/controllers/student.js
  strapi/src/api/survey-option/content-types/survey-option/schema.json
  strapi/src/api/survey-question/content-types/survey-question/schema.json
  strapi/src/api/t-and-c/content-types/t-and-c/schema.json
  strapi/src/components/category/category.json
  strapi/src/components/information/information.json
  strapi/src/components/pair/pair.json
  strapi/src/components/questions-helpers/answers.json
  strapi/src/components/questions-helpers/multi-choice-option.json
  strapi/src/components/questions/missing-words-question.json
  strapi/src/components/questions/multi-choice-question.json
  strapi/src/components/questions/open-response-question.json
  strapi/src/components/questions/rank-order-question.json
Due: lint-app-job, lint-strapi-job, unit-test-job

quiz controller gets all quizzes (not just ones with completion)
  strapi/src/api/stats/controllers/stats.js
Due: lint-strapi-job

default category images
  app/assets/academics-icon.png
  app/assets/finance-icon.png
  app/assets/independence-icon.png
  app/assets/wellbeing-icon.png
  app/screens/Campus.js
  app/screens/Category.js
Due: lint-app-job, unit-test-job

fix state being retained between questions
  app/screens/Gatehouse.js
  app/screens/Info.js
  app/screens/Question.js
  app/screens/questionTypes/OpenResponseQ.js
Due: lint-app-job, unit-test-job

hint on not enough selected
  app/screens/questionTypes/MultiChoiceQ.js
Due: lint-app-job, unit-test-job

Polished missingwordsq to be more consistent
  app/screens/questionTypes/MissingWordsQ.js
  app/styles/missingwordsq.js
Due: lint-app-job, unit-test-job

Re-implemented rank order questions
  app/screens/questionTypes/RankOrderQ.js
  app/styles/multichoiceq.js
Due: lint-app-job, unit-test-job

lint for question types
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/missingwordsq.js
  app/styles/rankorderq.js
Due: lint-app-job, unit-test-job

Added survey page to gatehouse
  app/screens/Gatehouse.js
  app/styles/gatehouse.js
Due: lint-app-job, unit-test-job

fix pretty button and reimplement flatlist
  app/components/PrettyButton.js
  app/screens/Category.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/missingwordsq.js
  app/styles/question.js
  app/styles/rankorderq.js
Due: lint-app-job, unit-test-job

Added border to gatehouse cards
  app/styles/gatehouse.js
Due: lint-app-job, unit-test-job

Tidy styles + buttons for quizzes + category
  app/components/PrettyButton.js
  app/screens/Category.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/missingwordsq.js
  app/styles/question.js
  app/styles/rankorderq.js
Due: lint-app-job, unit-test-job

Updated question types to work nicely with images
  app/components/PrettyButton.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/openresponseq.js
  app/styles/question.js
  app/styles/rankorderq.js
Due: lint-app-job, unit-test-job

Make button respond even in all selected
  app/screens/questionTypes/MultiChoiceQ.js
Due: lint-app-job, unit-test-job

merge prettybutton wrapper with regular
  app/components/PrettyButton.js
  app/screens/questionTypes/MultiChoiceQ.js
Due: lint-app-job, unit-test-job

Changed rankorderq test to match new functionality
  app/__tests__/screens/RankOrderQ.test.js
Due: lint-app-job, unit-test-job

fix quiz reset and remove uneeded page
  app/App.js
  app/screens/Error.js
  app/screens/QuizEndScreen.js
Due: lint-app-job, unit-test-job

lint
  app/__tests__/screens/RankOrderQ.test.js
  app/screens/QuizEndScreen.js
Due: lint-app-job, unit-test-job

Make going back impossible without alert
  app/screens/Category.js
  app/screens/Info.js
  app/screens/Question.js
  app/screens/QuizEndScreen.js
Due: lint-app-job, unit-test-job

lint
  app/screens/Info.js
  app/screens/Question.js
Due: lint-app-job, unit-test-job

Working to solve auth issues
  strapi/package.json
  strapi/pnpm-lock.yaml
  strapi/src/admin/extensions/AnalyticsPage/index.jsx
Due: lint-strapi-job

Fix public route to analytics pages, Closes #145
  strapi/config/plugins.js
  strapi/src/admin/app.js
  strapi/src/api/stats/routes/stats.js
  strapi/src/plugins/analytics/README.md
  strapi/src/plugins/analytics/admin/src/components/BarChart.jsx
  strapi/src/plugins/analytics/admin/src/components/Initializer/index.js
  strapi/src/plugins/analytics/admin/src/components/PluginIcon/index.js
  strapi/src/plugins/analytics/admin/src/components/SchoolMap.jsx
  strapi/src/plugins/analytics/admin/src/components/icon.jsx
  strapi/src/plugins/analytics/admin/src/components/index.jsx
  strapi/src/plugins/analytics/admin/src/components/scotland.json
  strapi/src/plugins/analytics/admin/src/index.js
  strapi/src/plugins/analytics/admin/src/pages/App/index.js
  strapi/src/plugins/analytics/admin/src/pages/HomePage/index.js
  strapi/src/plugins/analytics/admin/src/pluginId.js
  strapi/src/plugins/analytics/admin/src/translations/en.json
  strapi/src/plugins/analytics/admin/src/translations/fr.json
  strapi/src/plugins/analytics/admin/src/utils/getTrad.js
  strapi/src/plugins/analytics/package.json
  strapi/src/plugins/analytics/pnpm-lock.yaml
  strapi/src/plugins/analytics/server/bootstrap.js
  strapi/src/plugins/analytics/server/config/index.js
  strapi/src/plugins/analytics/server/content-types/index.js
  strapi/src/plugins/analytics/server/controllers/analytics.js
  strapi/src/plugins/analytics/server/controllers/index.js
  strapi/src/plugins/analytics/server/destroy.js
  strapi/src/plugins/analytics/server/index.js
  strapi/src/plugins/analytics/server/middlewares/index.js
  strapi/src/plugins/analytics/server/policies/index.js
  strapi/src/plugins/analytics/server/register.js
  strapi/src/plugins/analytics/server/routes/index.js
  strapi/src/plugins/analytics/server/services/index.js
  strapi/src/plugins/analytics/server/services/my-service.js
  strapi/src/plugins/analytics/strapi-admin.js
  strapi/src/plugins/analytics/strapi-server.js
Due: lint-strapi-job

Consistent styling for PrettyButtons
  app/components/Loading.js
  app/components/PrettyButton.js
  app/components/Survey.js
  app/screens/Campus.js
  app/screens/Category.js
  app/screens/Gatehouse.js
  app/screens/HomeScreen.js
  app/screens/Info.js
  app/screens/QuizEndScreen.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/base.js
  app/styles/campus.js
  app/styles/gatehouse.js
  app/styles/homescreen.js
  app/styles/info.js
  app/styles/question.js
  app/styles/quizendscreen.js
  app/styles/survey.js
Due: lint-app-job, unit-test-job

lint and other cleanup
  app/components/Loading.js
  app/components/PrettyButton.js
  app/components/Survey.js
  app/screens/Campus.js
  app/screens/Gatehouse.js
  app/screens/HomeScreen.js
  app/screens/Info.js
  app/screens/QuizEndScreen.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/base.js
  app/styles/campus.js
  app/styles/gatehouse.js
  app/styles/homescreen.js
  app/styles/info.js
  app/styles/question.js
  app/styles/quizendscreen.js
  app/styles/survey.js
Due: lint-app-job, unit-test-job

Removed Text elements nested in PrettyButtons
  app/components/Grade.js
  app/screens/Gatehouse.js
  app/screens/HomeScreen.js
Due: lint-app-job, unit-test-job

Fixed components/Grade.js
  app/components/Grade.js
Due: lint-app-job, unit-test-job

Created QuizDataVis, restyled everything, unified visualisation.
  strapi/src/plugins/analytics/QuizChart.jsx
  strapi/src/plugins/analytics/admin/src/components/PluginIcon/index.js
  strapi/src/plugins/analytics/admin/src/components/QuizChart.jsx
  strapi/src/plugins/analytics/admin/src/components/SchoolMap.jsx
  strapi/src/plugins/analytics/admin/src/components/index.jsx
  strapi/src/plugins/analytics/package.json
  strapi/src/plugins/analytics/pnpm-lock.yaml
  strapi/src/plugins/analytics/server/controllers/analytics.js
Due: lint-strapi-job

fixed linter to work with jsx (variables weren't recognised as used)
  strapi/.eslintrc
Due: lint-strapi-job

Fix styles for light-theme + tidying
  strapi/package.json
  strapi/pnpm-lock.yaml
  strapi/src/plugins/analytics/admin/src/components/BarChart.jsx
  strapi/src/plugins/analytics/admin/src/components/QuizChart.jsx
  strapi/src/plugins/analytics/admin/src/components/SchoolMap.jsx
  strapi/src/plugins/analytics/admin/src/components/index.jsx
Due: lint-strapi-job

remove console log from tab view
  strapi/src/plugins/analytics/admin/src/components/index.jsx
Due: lint-strapi-job
