Repository M4G13/mystudentyears: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-app-job, lint-strapi-job, unit-test-job, build-strapi, deploy-strapi

lint-app-job:
  stage: static_analysis
  image: node:latest
  script:
  - cd app
  - pnpm install
  - pnpm run lint --format gitlab
  artifacts:
    reports:
      codequality: gl-codequality.json

lint-strapi-job:
  stage: static_analysis
  script:
  - cd strapi
  - pnpm install
  - pnpm run lint --format gitlab
  artifacts:
    reports:
      codequality: gl-codequality.json

unit-test-job:
  stage: unit_test
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  script:
  - cd app
  - pnpm install
  - pnpm run test --ci --reporters=default --reporters=jest-junit
  artifacts:
    reports:
      junit: junit.xml

build-strapi:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY_SERVER
  script:
  - cd strapi
  - docker build -t $IMAGE_TAG .
  - docker push $IMAGE_TAG
  when: manual

deploy-strapi:
  stage: deploy
  image: alpine:latest
  before_script:
  - chmod og= $ID_RSA
  - apk update && apk add openssh-client
  script:
  - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "mkdir -p strapi/public/uploads || true"
  ...

fix: Added strapi email provider (closes #107)
  strapi/package.json
  strapi/pnpm-lock.yaml
Due: lint-strapi-job, build-strapi, deploy-strapi

aesthetics and t+c pending cms
  app/assets/arrow.png
  app/assets/close.png
  app/assets/search.png
  app/package-lock.json
  app/screens/HomeScreen.js
  app/screens/Survey.js
  app/styles/survey.js
  strapi/config/api.js
  strapi/config/plugins.js
  strapi/package-lock.json
Due: lint-app-job, lint-strapi-job, unit-test-job, build-strapi, deploy-strapi

Added strapi user guide, closes #106
  UserGuide.md
Due: none

Update readmes to reflect switch to pnpm
  README.md
  app/README.md
  strapi/README.md
Due: lint-app-job, lint-strapi-job, unit-test-job, build-strapi, deploy-strapi

deleted config
  app/screens/HomeScreen.js
  app/screens/Survey.js
  app/styles/survey.js
  strapi/config/plugins.js
Due: lint-app-job, lint-strapi-job, unit-test-job, build-strapi, deploy-strapi

Fixed plugins (resolves pipeline failure)
  strapi/.eslintrc
  strapi/config/plugins.js
Due: lint-strapi-job, build-strapi, deploy-strapi

massive survey progress
  app/App.js
  app/screens/Privacy.js
  app/screens/Survey.js
  app/screens/Terms.js
  strapi/src/api/app-user/content-types/app-user/schema.json
  strapi/src/api/app-user/controllers/app-user.js
  strapi/src/api/app-user/routes/01-app-user.js
  strapi/src/api/app-user/routes/app-user.js
  strapi/src/api/school/routes/school.js
  strapi/src/api/survey-question/content-types/survey-question/schema.json
  strapi/src/components/survey/option.json
  strapi/src/components/survey/survey-completion.json
Due: lint-app-job, lint-strapi-job, unit-test-job, build-strapi, deploy-strapi

cleanup
  strapi/src/api/app-user/controllers/app-user.js
  strapi/src/api/app-user/routes/01-app-user.js
Due: lint-strapi-job, build-strapi, deploy-strapi

cleanup
  app/screens/Categories.js
  app/screens/Survey.js
Due: lint-app-job, unit-test-job

push quiz data to strapi
  app/App.js
  app/screens/Question.js
  app/screens/Survey.js
  strapi/src/api/app-user/controllers/app-user.js
  strapi/src/components/completion/completion.json
Due: lint-app-job, lint-strapi-job, unit-test-job, build-strapi, deploy-strapi

lint
  app/App.js
  app/screens/Categories.js
  app/screens/Question.js
  app/screens/Survey.js
Due: lint-app-job, unit-test-job

Fix: strapi retake quiz not replacing
  app/screens/Question.js
  app/screens/QuizEndScreen.js
Due: lint-app-job, unit-test-job

lint
  app/App.js
  app/screens/Question.js
  app/screens/QuizEndScreen.js
  app/screens/Survey.js
Due: lint-app-job, unit-test-job

Improved styles for question types
  app/App.js
  app/package.json
  app/pnpm-lock.yaml
  app/screens/QuizEndScreen.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/base.js
  app/styles/missingwordsq.js
  app/styles/multichoiceq.js
  app/styles/openresponseq.js
  app/styles/quizendscreen.js
  app/styles/rankorderq.js
Due: lint-app-job, unit-test-job

Updated tests to reflect new MCQ functionality
  app/__tests__/screens/MultiChoiceQ.test.js
  app/screens/QuizEndScreen.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/styles/base.js
  app/styles/multichoiceq.js
  app/styles/openresponseq.js
  app/styles/rankorderq.js
Due: lint-app-job, unit-test-job

Colour pallette for consistent styles
  app/screens/questionTypes/MultiChoiceQ.js
  app/styles/base.js
  app/styles/categories.js
  app/styles/homescreen.js
  app/styles/info.js
  app/styles/missingwordsq.js
  app/styles/multichoiceq.js
  app/styles/openresponseq.js
  app/styles/question.js
  app/styles/rankorderq.js
  app/styles/survey.js
Due: lint-app-job, unit-test-job

Final survey added and working
  app/screens/Survey.js
Due: lint-app-job, unit-test-job

Further style refactoring
  app/App.js
  app/screens/Question.js
  app/screens/QuizEndScreen.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/screens/questionTypes/OpenResponseQ.js
  app/screens/questionTypes/RankOrderQ.js
  app/styles/base.js
  app/styles/missingwordsq.js
  app/styles/multichoiceq.js
  app/styles/openresponseq.js
  app/styles/question.js
  app/styles/quizendscreen.js
  app/styles/rankorderq.js
Due: lint-app-job, unit-test-job

Lint for #47
  app/screens/Question.js
  app/screens/QuizEndScreen.js
  app/screens/questionTypes/MissingWordsQ.js
  app/screens/questionTypes/MultiChoiceQ.js
  app/styles/quizendscreen.js
Due: lint-app-job, unit-test-job

resolve merge conficts for merge !47
  app/screens/Question.js
  app/screens/QuizEndScreen.js
Due: lint-app-job, unit-test-job

remove console log
  app/screens/Question.js
Due: lint-app-job, unit-test-job

update deps
  app/package.json
  app/pnpm-lock.yaml
  strapi/package.json
Due: lint-app-job, lint-strapi-job, unit-test-job, build-strapi, deploy-strapi

fix deploy
  .gitlab-ci.yml
Due: none

only enable stop on prod
  .gitlab-ci.yml
Due: none

Ensure a pipeline runs on merge
  .gitlab-ci.yml
Due: none

Fixed terms path
  app/screens/Terms.js
Due: lint-app-job, unit-test-job

Updated admin panel logos (MSY branding)
  strapi/msyLogoLarge.png
  strapi/msyLogoSmall.png
  strapi/src/admin/app.example.js
  strapi/src/admin/app.js
Due: lint-strapi-job, build-strapi, deploy-strapi

start on analytics view
  strapi/src/admin/app.js
  strapi/src/admin/extensions/AnalyticsPage/SchoolMap.js
  strapi/src/admin/extensions/AnalyticsPage/icon.js
  strapi/src/admin/extensions/AnalyticsPage/index.js
Due: lint-strapi-job, build-strapi, deploy-strapi

init d3 and get it working
  strapi/package.json
  strapi/pnpm-lock.yaml
  strapi/src/admin/app.example.js
  strapi/src/admin/app.js
  strapi/src/admin/extensions/AnalyticsPage/SchoolMap.jsx
  strapi/src/admin/extensions/AnalyticsPage/icon.jsx
  strapi/src/admin/extensions/AnalyticsPage/index.jsx
  strapi/src/admin/webpack.config.example.js
Due: lint-strapi-job, build-strapi, deploy-strapi

Created issue templates for upcoming sprint
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/epic.md
  .gitlab/issue_templates/feature.md
Due: none

map stuff and nivo
  strapi/package.json
  strapi/pnpm-lock.yaml
  strapi/src/admin/extensions/AnalyticsPage/SchoolMap.jsx
  strapi/src/admin/extensions/AnalyticsPage/scotland.json
  strapi/src/api/school/content-types/school/schema.json
  strapi/src/api/school/services/school.js
Due: lint-strapi-job, build-strapi, deploy-strapi

Added New map, new map icons, new text box when icon clicked, progression...
  app/assets/academics.png
  app/assets/banner.png
  app/assets/congratsFlag.png
  app/assets/finance.png
  app/assets/independence.png
  app/assets/star_empty.png
  app/assets/star_filled.png
  app/assets/temp_map.png
  app/assets/wellbeing.png
  app/package-lock.json
  app/screens/Categories.js
  app/screens/Question.js
  app/styles/base.js
  app/styles/categories.js
Due: lint-app-job, unit-test-job

cycles through students on gatehouse
  app/screens/Gatehouse.js
  app/styles/gatehouse.js
  strapi/Dockerfile
  strapi/README.md
  strapi/docker-compose.yml
  strapi/src/api/student/content-types/student/schema.json
  strapi/src/api/student/controllers/student.js
Due: lint-app-job, lint-strapi-job, unit-test-job, build-strapi, deploy-strapi

Allowed multiple selections in MCQs, closes #116
  app/screens/questionTypes/MultiChoiceQ.js
Due: lint-app-job, unit-test-job

student images working, still ugly layout
  app/screens/Gatehouse.js
  app/screens/Survey.js
  strapi/src/api/student/controllers/student.js
Due: lint-app-job, lint-strapi-job, unit-test-job, build-strapi, deploy-strapi

Revert "student images working, still ugly layout"
  app/screens/Gatehouse.js
  app/screens/Survey.js
  strapi/src/api/student/controllers/student.js
Due: lint-app-job, lint-strapi-job, unit-test-job, build-strapi, deploy-strapi

fixing commit errors and splitting global urls
  app/App.js
  app/screens/Gatehouse.js
  strapi/src/api/student/controllers/student.js
Due: lint-app-job, lint-strapi-job, unit-test-job, build-strapi, deploy-strapi

removed console.log, renamed global.image_url to global.media_url
  app/App.js
  app/screens/Gatehouse.js
Due: lint-app-job, unit-test-job

Created simple analytics view + controller
  strapi/src/admin/extensions/AnalyticsPage/BarChart.jsx
  strapi/src/admin/extensions/AnalyticsPage/index.jsx
  strapi/src/api/stats/controllers/stats.js
  strapi/src/api/stats/routes/stats.js
Due: lint-strapi-job, build-strapi, deploy-strapi

Updated visuals for info pages, updated visual for quizEndScreen
  app/App.js
  app/assets/A.png
  app/assets/B.png
  app/assets/C.png
  app/assets/Chalkboard.png
  app/assets/examResult.png
  app/assets/fonts/Chalkduster.ttf
  app/package.json
  app/pnpm-lock.yaml
  app/screens/Categories.js
  app/screens/Info.js
  app/screens/QuizEndScreen.js
  app/styles/categories.js
  app/styles/info.js
  app/styles/quizendscreen.js
Due: lint-app-job, unit-test-job

Path conditions:
  lint-app-job: any of: app/**/*
  lint-strapi-job: any of: strapi/**/*
  unit-test-job: any of: app/**/*
  build-strapi: any of: strapi/**/*
  deploy-strapi: any of: strapi/**/*
