Repository M4G13/mystudentyears: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-app-job, lint-strapi-job, unit-test-job

.gitlab-ci.yml:

variables:
  IMAGE_TAG: $IMAGE_NAME:latest

image: node:20

before_script:
  - corepack enable

stages:
  - static_analysis
  - unit_test
  - build
  - deploy

lint-app-job:
  stage: static_analysis
  image: node:latest
  rules:
    - changes:
      - app/**/*
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"' # Run on all merges (merges break if no pipeline runs, weird gitlab issue)
  script:
    - cd app
    - pnpm install
    - pnpm run lint --format gitlab
  artifacts:
    reports:
      codequality: gl-codequality.json

lint-strapi-job:
  stage: static_analysis
  rules:
    - changes:
      - strapi/**/*
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"' # Run on all merges (merges break if no pipeline runs, weird gitlab issue)
  script:
    - cd strapi
    - pnpm install
    - pnpm run lint --format gitlab
  artifacts:
    reports:
      codequality: gl-codequality.json

unit-test-job:
  stage: unit_test
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  rules:
    - changes:
      - app/**/*
  script:
    - cd app
    - pnpm install
    - pnpm run test --ci --reporters=default --reporters=jest-junit
  artifacts:
    reports:
      junit: app/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: app/coverage/cobertura-coverage.xml

build-strapi:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == "prod"
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY_SERVER
  script:
    - cd strapi
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG

deploy-strapi:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "prod"
  image: alpine:latest
  before_script:
    - chmod og= $ID_RSA
    - apk update && apk add openssh-client
  script:
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "mkdir -p strapi/public/uploads || true"
    - scp -i $ID_RSA -o StrictHostKeyChecking=no ./strapi/docker-compose.yml $SERVER_USER@$SERVER_IP:~/strapi
    - scp -i $ID_RSA -o StrictHostKeyChecking=no $ENV_VARS $SERVER_USER@$SERVER_IP:~/strapi/.env.prod
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY_SERVER"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker pull $IMAGE_TAG"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd strapi && docker-compose pull && docker-compose up --detach --force-recreate && docker image prune -f"
  environment:
    name: production
    url: https://mystudentyears.co.uk/strapi/
    on_stop: stop-strapi

stop-strapi:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "prod"
  environment:
    name: production
    action: stop
  when: manual
  script:
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd strapi && docker-compose down && docker image prune -f"

Wrap nav in view, closes #65
  app/App.js
Due: lint-app-job, unit-test-job

Fix data download to not fetch on page load
  strapi/src/plugins/analytics/admin/src/components/index.jsx
Due: lint-strapi-job

ScrollView for Terms and Privacy
  app/screens/Privacy.js
  app/screens/Terms.js
Due: lint-app-job, unit-test-job

fixed by removing back button.
  app/App.js
Due: lint-app-job, unit-test-job

lint-fix
  app/App.js
  app/screens/Privacy.js
  app/screens/Terms.js
Due: lint-app-job, unit-test-job

Fixed Quiz end screen styling
  app/styles/quizendscreen.js
Due: lint-app-job, unit-test-job

Fixed bugs with swiper view by adding new AsyncStorage variable
  app/App.js
  app/screens/FinalSurvey.js
  app/screens/Gatehouse.js
Due: lint-app-job, unit-test-job

Lint for !88
  app/App.js
  app/screens/FinalSurvey.js
  app/screens/Gatehouse.js
Due: lint-app-job, unit-test-job

(Hopefully) fixed favicon on prod. strapi, closes #147
  strapi/src/admin/app.js
  strapi/src/admin/extensions/favicon.png
Due: lint-strapi-job

move to expo orginisation
  app/app.json
Due: lint-app-job, unit-test-job

Resolve small bugs with iOS view
  app/App.js
  app/screens/Campus.js
  app/screens/Category.js
  app/styles/campus.js
  app/styles/quizendscreen.js
Due: lint-app-job, unit-test-job

fix drop-down styles
  app/screens/InitialSurvey.js
  app/styles/survey.js
Due: lint-app-job, unit-test-job

switch to new dropdown list to fix loading
  app/package.json
  app/pnpm-lock.yaml
  app/screens/InitialSurvey.js
  app/styles/survey.js
Due: lint-app-job, unit-test-job

lint
  app/screens/Category.js
  app/screens/InitialSurvey.js
  app/styles/quizendscreen.js
  app/styles/survey.js
Due: lint-app-job, unit-test-job

fix input for email
  app/screens/InitialSurvey.js
  app/styles/survey.js
Due: lint-app-job, unit-test-job

Replaced radio buttons with custom component
  app/components/Survey.js
  app/components/SurveyQuestion.js
  app/styles/survey.js
Due: lint-app-job, unit-test-job

Tidy/lint for survey fixes
  app/components/RadioButton.js
  app/components/Survey.js
Due: lint-app-job, unit-test-job

Fix school storing
  app/screens/InitialSurvey.js
Due: lint-app-job, unit-test-job

Edited Userguide, added supporting images and covered some other parts of Strapi
  UserGuide.md
Due: none

Update README.md
  README.md
Due: none

Removed unused dependencies
  app/package.json
  app/pnpm-lock.yaml
Due: lint-app-job, unit-test-job

Absolute paths for analytics queries
  strapi/src/plugins/analytics/admin/src/components/BarChart.jsx
  strapi/src/plugins/analytics/admin/src/components/QuizChart.jsx
  strapi/src/plugins/analytics/admin/src/components/SchoolMap.jsx
  strapi/src/plugins/analytics/admin/src/components/index.jsx
Due: lint-strapi-job

Fixed strapi production bug
  strapi/src/plugins/analytics/admin/src/components/BarChart.jsx
  strapi/src/plugins/analytics/server/controllers/analytics.js
Due: lint-strapi-job

Added dev docs
  README.md
  doc/Developer Docs/App structure.md
  doc/Developer Docs/Dev environment.md
  doc/Developer Docs/Infrastructure and Architecture.md
  doc/Developer Docs/Strapi structure.md
Due: none

Updated developer docs with latest information
  doc/Developer Docs/Dev environment.md
  doc/Developer Docs/Infrastructure and Architecture.md
  doc/Developer Docs/Strapi structure.md
Due: none

Updated dev docs to reflect the state of the app
  README.md
  doc/Developer Docs/App structure.md
  doc/UserGuide.md
Due: none

Updated dev environment instructions
  doc/Developer Docs/Dev environment.md
Due: none
